In [2]:
#Q1
lt=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_lt=sorted(lt, key=lambda x: x[1])
sorted_lt

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [12]:
#Q2
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l_sq=map(lambda x:x**2,l)
print(list(l_sq))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#Q3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = tuple(map(lambda x:str(x),l))
print(a)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [2]:
#Q4
from functools import reduce
multiply= lambda x,y:x*y
multiply_of_numbers = reduce(multiply, range(1,26))
print(multiply_of_numbers)

15511210043330985984000000

In [3]:
#Q5
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_numbers = filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers)
print(list(filtered_numbers))

[6, 60, 90, 120]

In [4]:
#Q6
strings = ['python', 'php', 'aba', 'radar', 'level']
palindromes = filter(lambda x: x == x[::-1], strings)
print(list(palindromes))

['php', 'aba', 'radar', 'level']